# lock screen
#/etc/systemd/system/i3lock@duy.service
[Unit]
Description=i3lock
Before=sleep.target

[Service]
User=duy
Type=forking
Environment="DISPLAY=:0"
ExecStart=/usr/bin/i3lock -ki /mnt/sdb6/pictures/gnu_linux_resized.png

[Install]
WantedBy=sleep.target

#systemctl enable i3lock@duy.service
