# Color files by types
# Note that this may cause completion text blink in some terminals (e.g. xterm).
set colored-stats On
set visible-stats On						
set mark-symlinked-directories On			
set colored-completion-prefix On			
set menu-complete-display-prefix On			
set echo-control-characters off				
set completion-prefix-display-length 2		
set completion-ignore-case on				
set keyseq-timeout 400
set show-all-if-ambiguous On
